body{
    background-color: lightblue;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}
a:hover{
    color: #FF00FF;
}
link {
    color:azure;
}
#class {
    color: rgb(255, 0, 102);
    text-align: center;
    background-color: rgb(1, 228, 232);
    border: 30px rgb(rgb(226, 34, 34));
    border-style: double;
    margin: 35px;
    padding: 1px;
    content: normal;
    top: 55 ;
}
.nav{
  background-color: bisque;
  display: flex;
  justify-content: space-around;
}
.eines{
    background-color: #fcfcfc67;
    float: left;
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
}
.container {
  display: flex;
  background-color: dodgerblue;
}

.container div {
  background-color: #f1f1f1;
  color:#000;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
.grid-container {
  display: grid;
  grid-template-areas:
	'header header header header header header'
	'menu main main main main right'
	'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.item-header {
  background-color: blue;
  font-size: 30px;
  grid-area: header;
}

.item-menu {
  background-color: white;
  font-size: 30px;
  grid-area: menu;
}
.item-main {
  background-color: green;
  font-size: 30px;
  grid-area: main;
}
.item-right {
  background-color: yellow;
  font-size: 30px;
  grid-area: right;
}
.item-footer {
  background-color: blue;
  font-size: 30px;
  grid-area: footer;
}

.logo{
    /* position:static; */
    /* position:fixed; */
	/*position:static;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.pare {
  /* posem un color de fons al pare */
  background-color: blue;
  height: 250px;
 
   display: flex; 
  /*flex-direction: row-reverse;*/
  /*flex-direction:column-reverse;*/
 
  /*justify-content: space-between;*/
  /*  justify-content: center; */
    
  /* align-items: center; */
 
}

.fill {
  /* per defecte es display: block */
  /* Repassem inline i inline-block */
  display: inline;
  /*display: inline-block; */
  border-color: solid rgba(0, 0, 0, 0);
  margin: 20px;
  padding: 20px;
  background-color: grey;
  width: 500px;
  height: 200px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}
.container {
  display: flex;
  background-color: dodgerblue;
}
.list{
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
}
